@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-guinda-claro : #91232E;
  --color-guinda-oscuro : #5F1926;
  --color-verde-claro : #669243;
  --color-verde-oscuro : #20420F;
  --color-azul-oscuro : #1B2943;
  --color-azul-claro : #515A7B;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
